    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Gestion des entretiens</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            >
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="#">Paramètres</a>
						<a class="dropdown-item" href="#">Mon compte</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">Déconnecter</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Accueil</div>
                            <a class="nav-link" routerLink="/"
                            ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard</a
                            >
                            <div class="sb-sidenav-menu-heading">Mise à jour</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                            >
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Candidats
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                >
                            </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" routerLink="/add-candidat">Nouveau candidat</a>
                                        <a class="nav-link" routerLink="candidats">Rechercher</a></nav>
                                    </div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#responsable" aria-expanded="false" aria-controls="collapseLayouts"
                            >
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Responsables
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                >
                            </a>
                                <div class="collapse" id="responsable" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="layout-static.html">Nouveau responsable</a>
                                        <a class="nav-link" href="layout-sidenav-light.html">Rechercher</a></nav>
                                    </div>
                                                <div class="sb-sidenav-menu-heading">Statistiques</div>
                                                <a class="nav-link" href="charts.html"
                                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                                Graphes</a
                                                ><a class="nav-link" href="tables.html"
                                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                                Etats</a
                                                >
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                                <div id="layoutSidenav_content">
                                    <main>
                                        <div class="container-fluid">
											<!-- Contenu -->
											<router-outlet>
												
											</router-outlet>
											<!-- Fin contenu -->
                                        </div>
                                    </main>
                                    <footer class="py-4 bg-light mt-auto">
                                        <div class="container-fluid">
                                            <div class="d-flex align-items-center justify-content-between small">
                                                <div class="text-muted">Copyright &copy; Gestion des entretiens </div>
                                                <div>
                                                    <a href="#">Privacy Policy</a>
                                                    &middot;
                                                    <a href="#">Terms &amp; Conditions</a>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
